<mat-toolbar>
  <button mat-icon-button class="menu-open-toggle-btn" aria-label="Example icon-button with menu icon"
    (click)="toggle()">
    <mat-icon>{{ hidden ? 'menu_open' : 'menu' }}</mat-icon>
  </button>
  <div class="img-container">
    <img src="assets/images/Ficus_Logo.png" alt="">
  </div>
  <span class="example-spacer"></span>
  @if(!this.userStateService.returnUserStatus()){
    <div class="menu-drop">
      <ul>
        <li>
          Soluções
        </li>
        <li>
          Planos
        </li>
        <li>
          Sobre
        </li>
      </ul>
    </div>
  }
  <span class="example-spacer"></span>
  @if(!this.userStateService.returnUserStatus()){
    <button
    mat-icon-button
    class="example-icon"
    matTooltip="Entrar"
    aria-label="Example icon-button with menu icon"
      (click)="logIn()">
      <mat-icon>login</mat-icon>
    </button>
  }
  @if(this.userStateService.returnUserStatus()){
    <button
    mat-icon-button
    class="example-icon"
    matTooltip="Sair"
    aria-label="Example icon-button with menu icon"
      (click)="logUserOut()">
      <mat-icon>logout</mat-icon>
    </button>
  }
</mat-toolbar>

<section *ngIf="hidden" class="menu-side">
  <ul>
    <li (click)="goTo('home')">
      <!-- <mat-icon>home</mat-icon> -->
      <a> Início</a>
    </li>
    <li (click)="goTo('about')">
      <!-- <mat-icon>local_library</mat-icon> -->
      <a> Soluções</a>
    </li>
    <li>
      <!-- <mat-icon>local_library</mat-icon> -->
      <a> Planos</a>
    </li>
    <li>
      <!-- <mat-icon>local_library</mat-icon> -->
      <a> Sobre</a>
    </li>
  </ul>
</section>
