@import './../../../../../styles/main.scss';

.example-spacer {
  flex: 1 1 auto;
}

img{
  cursor: pointer;
}

mat-toolbar{
  background-color: $aleixo-dark-blue;
  color: $ficus-yellow;
  position: fixed;
  z-index: 2;
  box-shadow: 2px 3px 8px 2px rgba(0, 0, 0, 0.2);
  height: 4rem;

  // .menu-open-toggle-btn{
    // position: relative;
    // left: -1000px;
    // z-index: -3;

    // @media (max-width: 480px) {
    //   position: relative;
    // left: 0;
    // z-index: none;
    // }
  // }

  p {
    font-size: 12px;
    font-weight: 300;
    margin-top: 15px;
  }

  .menu-drop{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media (max-width: 480px) {
      width: 0;
      height: 0;
    }

      ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0 1.5rem;
        gap: 1.5rem;
        @media (max-width: 480px) {
          width: 0;
          height: 0;
          position: relative;
          top: 1000000px;
        }
        }
          li{
            font-size: 16px;
            cursor: pointer;

            &:hover{
              border-bottom: 2px solid $ficus-yellow;
            }
          }
      }

}

.img-container{
  // width: 100%;
  margin-left: .5rem;
  @media (max-width: 780px) {
    margin-left: 2%;
  }
  img{
    width: 5rem;

    @media (max-width: 480px) {
      width: 4rem;
    }
  }
}

.menu-side{
  z-index: 2;
  position: fixed;
  min-height: 100vh;
  height: 100%;
  width: 20rem;
  top: 4rem;
  background-color: $aleixo-dark-blue;
  @media (max-width: 480px) {
    width: 100vw;
  }

  mat-icon{
    color: $ficus-yellow;
  }

  ul{
    padding-top: 32px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
      li{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        width: 80%;
        padding: 6px;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover{
          // background-color: rgba(28,28,99, 0.2);
          border-bottom: 1px solid $ficus-yellow;
        }
        a{
          font-weight: 300;
          color: $ficus-yellow;
          font-weight: 550;
          text-decoration: none;
      }
    }
  }
}
