@import './variables.scss';

.mat-mdc-fab.mat-accent, .mat-mdc-mini-fab.mat-accent {
  background-color: $sweet-blue;
  // --mdc-fab-icon-color: #fff;
  // --mat-mdc-fab-color: #fff;
}

.btn-confirm{
  height: 38px;
  border-radius: 5px;
  outline: transparent;
  color: $ficus-black;
  background-color: $ficus-yellow;
  border: none;
  box-shadow: 3px -3px 7px 2px rgba(255, 198, 41, 0.2);
  @media (max-width: 780px) {
    margin-bottom: 1rem;
  }
}

.btn-account{
  height: 38px;
  border-radius: 5px;
  outline: transparent;
  color: $ficus-black;
  background-color: $ficus-mid-gray;
  border: none;
  // box-shadow: 3px -3px 7px 2px rgba(255, 198, 41, 0.2);
  @media (max-width: 480px) {
    margin-bottom: 1rem;
  }
}

.btn-filter{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  height: 38px;
  border-radius: 5px;
  outline: transparent;
  color: $ficus-black;
  background-color: $ficus-yellow;
  border: none;
  box-shadow:-1px 1px 8px 1px rgba(0, 0, 0, 0.2);
  @media (max-width: 780px) {
    margin-bottom: 1rem;
  }
  &:hover{
    height: 40px;
  }
}

.btn-clear{
  height: 38px;
  border-radius: 5px;
  outline: transparent;
  color: $ficus-black;
  background-color: $ficus-light-gray;
  border: none;
  box-shadow:-1px 1px 8px 1px rgba(0, 0, 0, 0.2);
  @media (max-width: 780px) {
    margin-bottom: 1rem;
  }
  &:hover{
    height: 40px;
  }
}