@import './variables.scss';

.f-300{
    font-weight: 500;
}
.f-350{
    font-weight: 500;
}
.f-400{
    font-weight: 500;
}
.f-450{
    font-weight: 500;
}
.f-500{
    font-weight: 500;
}

.f-550 {
    font-weight: 550;
}

.f-600{
    font-weight: 600;
}

.f-650{
    font-weight: 650;
}
