// colors
$bg-header: #1c1c63;
$bg-main: #cac8f2;
$sweet-blue: #00aaff;
$sun-yellow: #BDA11D;

// --- Ficus Pallet ----
$ficus-yellow: #FFC629;
$ficus-purple: #4F2778;
$ficus-light-gray: #E8E8E8;
$ficus-mid-gray: #9B9B9B;
$ficus-black: #000000;
$ficus-white: #fff;