// colors
$bg-header: #1c1c63;
$bg-main: #cac8f2;
$sweet-blue: #00aaff;
$sun-yellow: #BDA11D;

// --- Ficus Pallet ----
$ficus-yellow: #FFC629;
$ficus-purple: #4F2778;
$ficus-light-gray: #E8E8E8;
$ficus-mid-gray: #9B9B9B;
$ficus-black: #000000;
$ficus-white: #fff;

//Aleio Maia Pallet
$aleixo-dark-blue: #1D1E62;
$aleixo-dark-blue-rgba-shadow: rgba(29, 30, 98, 0.4);
$aleixo-white: #FFFFFF;
$aleixo-green: #00CFB4;

//dashboard
$dashboard-green: #42ed62;
$dashboard-red: #ed4242;
$dashboard-aleixo-green: #00CFB4;



// strong

.yellow-span{
    color: $ficus-yellow;
}
.dark-blue-span{
    color: $aleixo-dark-blue;
}