@import '../../../../../../../styles/main.scss';

.side-l{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 0.3rem;

  @media (max-width: 480px) {
    min-height: 100%;

  }

  .z-index{
    position: fixed;
    right: 73%;
    z-index: 400;
    background: #FFF;
  }

  .expand-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: center;
    margin-bottom: 1rem;
    .expand{
      cursor: pointer;
      display: flex;
      text-align: center;
      font-size: 14px;
      color: $dashboard-red;
      mat-icon{
        color: $dashboard-red;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }

  .mat-expansion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    mat-panel-title{
      font-size: 18px;
    }

    .input-structure{
      display: flex;
      flex-direction: column;
      align-items: center;

      gap: .5rem;
      height: 100%;
      padding: 1rem;
      label{
        font-size: 12px;
        padding-left: 1rem;
      }
      input{
        width: 90%;
        margin: 0 1rem;
      }
    }

    .drop-structure{
      display: flex;
      flex-direction: column;
      gap: .5rem;
      height: 100%;
      padding: 1rem;
      label{
        font-size: 12px;
        padding-left: 1rem;
      }

    }

    .sector-content{
      display: flex;
      flex-direction: column;
      gap: .5rem;
      height: 100%;
      padding: 1rem;
      label{
        font-size: 12px;
        padding-left: 1rem;
      }

    }

    .region-content{
      height: 100%;

      .cep{
        text-align: center;
        display: flex;
        flex-direction: column;
      }
    }

    .company-size-content{
      display: flex;
      flex-direction: column;
      gap: .5rem;
      height: 100%;
      padding: 1rem;
      label{
        font-size: 12px;
        padding-left: 1rem;
      }

    }

    .telephone-container{
      display: flex;
      flex-direction: column;
      gap: .5rem;
      height: 100%;
      padding: 1rem;
      label{
        font-size: 12px;
        padding-left: 1rem;
      }
    }

    .company-records-container{
      display: flex;
      flex-direction: column;
      gap: .5rem;
      height: 100%;
      padding: 1rem;
      text-align: center;
      label{
        font-size: 12px;
        padding-left: 1rem;
      }

      .opening-date{
        display: flex;
        flex-direction: column;
      }
    }

    .legal-container{
      display: flex;
      flex-direction: column;
      gap: .5rem;
      height: 100%;
      padding: 1rem;
      text-align: center;
      label{
        font-size: 12px;
        padding-left: 1rem;
      }
    }

    .cnpj-container{
      display: flex;
      flex-direction: column;
      gap: .5rem;
      height: 100%;
      padding: 1rem;
      label{
        font-size: 12px;
        padding-left: 1rem;
      }
    }
  }

  .filters-header{
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: center;
    padding: 1rem 0.3rem;

    .title-section{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      .title{
        text-align: center;
        margin: 0;
        font-size: 18px;
      }
    }
  }

  .button-container{
    position: sticky;
    bottom: 1rem;
    margin: .5rem 0;
  }

}

.side-l .mat-expansion mat-panel-title {
  font-size: 16px;
}

.p-dropdown .p-component .p-inputwrapper .p-inputwrapper-filled{
  width: 100%;
  margin: 0 1rem;
}

