<main>
  <div class="side-l">

    <div class="filters-header">
      <div class="title-section w-100">
        <h5 class="title">Filtros</h5>
        <mat-icon class="material-symbols-outlined">
          filter_alt
        </mat-icon>
      </div>

      <div class="button-container w-100">
        <button class=" btn-clear mb-3" (click)="clearFilters()">Limpar Filtros</button>
      </div>
    </div>

    <mat-accordion class="accordion">
      <form [formGroup]="form">

        <!-- Setor -->


        <mat-expansion-panel [expanded]="true" class="mat-expansion" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <mat-panel-title>Setor</mat-panel-title>
          </mat-expansion-panel-header>

          <div class="sector-content w-100">

          <!-- Setor input -->

            <mat-form-field>
              <mat-select class="f-550" [formControl]="sectorMultiCtrl" placeholder="Setores" [multiple]="true" #multiSelect>
                <mat-option>
                  <ngx-mat-select-search
                   placeholderLabel="Buscar por nome..."
                   noEntriesFoundLabel="Não encontrado"
                    [formControl]="sectorMultiFilterCtrl"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let sector of filteredSectorMulti | async" [value]="sector" (click)="onSectorMultiSelectionChange($event)">
                  {{sector.codigo}} - {{sector.descricao}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          <!-- *** -->

           <!-- CNAE Primario -->

           <mat-form-field>
            <mat-select class="f-550" [formControl]="cnaePrimaMultiCtrl" placeholder="CNAE Primário" [multiple]="true" #multiSelect>
              <mat-option>
                <ngx-mat-select-search
                 placeholderLabel="Buscar por nome..."
                 noEntriesFoundLabel="Não encontrado"
                  [formControl]="cnaePrimaMultiFilterCtrl"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let cnae of filteredCnaePrimaMulti | async" [value]="cnae" (click)="onCnaePrimaMultiSelectionChange($event)">
                {{cnae.codigo}} - {{cnae.descricao}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- *** -->

           <!-- CNAE Secundario input -->

           <mat-form-field>
            <mat-select class="f-550" [formControl]="cnaeSecundMultiCtrl" placeholder="CNAE Secundário" [multiple]="true" #multiSelect>
              <mat-option>
                <ngx-mat-select-search
                 placeholderLabel="Buscar por nome..."
                 noEntriesFoundLabel="Não encontrado"
                  [formControl]="cnaeSecundMultiFilterCtrl"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let cnae of filteredCnaeSecundMulti | async" [value]="cnae" (click)="onCnaeSecundMultiSelectionChange($event)">
                {{cnae.codigo}} - {{cnae.descricao}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- *** -->

          <mat-form-field>
            <mat-select class="f-550" [formControl]="ncmMultiCtrl" placeholder="Ncm" [multiple]="true" #multiSelect>
              <mat-option>
                <ngx-mat-select-search
                 placeholderLabel="Buscar por nome..."
                 noEntriesFoundLabel="Não encontrado"
                  [formControl]="ncmMultiFilterCtrl"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let ncm of filteredNcmMulti | async" [value]="ncm" (click)="onNcmMultiSelectionChange($event)">
                {{ncm.codigo}} - {{ncm.descricao}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          </div>
        </mat-expansion-panel>

        <!-- Regiao -->
        <mat-expansion-panel class="mat-expansion" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <mat-panel-title>Região</mat-panel-title>
          </mat-expansion-panel-header>

          <div class="region-content drop-structure">

              <mat-form-field>
                <mat-label>Estados</mat-label>
                <mat-select (selectionChange)="getCitiesValue()" formControlName="estate" multiple>
                  @for (estate of estate; track estate) {
                    <mat-option [value]="estate.uf">{{estate.uf}} - {{estate.nome}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>


              <mat-form-field>
                <mat-label>Cidades</mat-label>
                <mat-select (selectionChange)="getNeighbourhoodValue()" formControlName="city" multiple>
                  @for (city of cities; track city) {
                    <mat-option (onSelectionChange)="getCodigoIBGE.set(city?.codigoIBGE)"  [value]="city?.nome">{{city?.nome}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Bairros</mat-label>
                <mat-select (selectionChange)="getStreetValue()" formControlName="neighbourhood" multiple>
                  @for (neighbourhood of neighbourhoods; track neighbourhood) {
                    <mat-option [value]="neighbourhood.bairro">{{neighbourhood.bairro}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <div class="cep w-100">
                <p class="ms-2 f-550">Endereço e CEP</p>
                <mat-form-field>
                  <mat-label>Logradouro</mat-label>
                  <input matInput formControlName="logradouro">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Numero</mat-label>
                  <input matInput formControlName="stNumber">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>CEP</mat-label>
                  <input mask="XXXXX-XXX" (keyup)="getCEP()" matInput pattern="\d{5}-\d{3}" formControlName="cep">
                </mat-form-field>
              </div>

          </div>

        </mat-expansion-panel>

        <!-- Porte -->
        <mat-expansion-panel class="mat-expansion" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>

            <mat-panel-title>Porte</mat-panel-title>
          </mat-expansion-panel-header>

          <div class="company-size-content w-100">
            <mat-form-field>
              <mat-label>Porte Nominal</mat-label>
              <mat-select formControlName="companySize" multiple>
                @for (CompanySizeList of CompanySizeList; track CompanySizeList) {
                  <mat-option [value]="CompanySizeList.codigo">{{CompanySizeList.descricao}}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Crescimento da empresa</mat-label>
              <mat-select multiple>
                @for (state of mock; track state) {
                  <mat-option [value]="state">{{state.name}}</mat-option>
                }
              </mat-select>
            </mat-form-field>

          </div>

        </mat-expansion-panel>

        <!-- Telefones -->
        <mat-expansion-panel class="mat-expansion" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <mat-panel-title>Telefone</mat-panel-title>
          </mat-expansion-panel-header>

          <div class="telephone-container w-100">
          <mat-form-field>
            <mat-label>telefone</mat-label>
            <input matInput
            prefix="+55"
            type="tel"
            formControlName="telephone"
            pattern="(?:(^\+\d{2})?)(?:([1-9]{2})|([0-9]{3})?)(\d{4,5})(\d{4})"
            mask="(00) 0 0000 0000||(00)0000 0000">
          </mat-form-field>
          </div>

        </mat-expansion-panel>

        <!-- Cadastrais -->
        <mat-expansion-panel class="mat-expansion" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <mat-panel-title>Cadastrais</mat-panel-title>
          </mat-expansion-panel-header>

          <div class="company-records-container w-100">

            <div class="opening-date w-100">
              <span class="f-550">Data de abertura</span>
              <mat-form-field>
                <mat-label>Data inicial</mat-label>
                <input matInput [matDatepicker]="initialDate">
                <mat-datepicker-toggle matIconSuffix [for]="initialDate"></mat-datepicker-toggle>
                <mat-datepicker #initialDate ></mat-datepicker>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Data final</mat-label>
                <input matInput [matDatepicker]="finalDate">
                <mat-datepicker-toggle matIconSuffix [for]="finalDate"></mat-datepicker-toggle>
                <mat-datepicker #finalDate></mat-datepicker>
              </mat-form-field>

              <p>Busque por data de abertura durante um determinado período, inserindo uma data inicial e final</p>

            </div>

            <mat-form-field>
              <mat-label>Sócio(s)</mat-label>
              <input matInput
              type="text"
              formControlName="partner">
            </mat-form-field>

          </div>

        </mat-expansion-panel>

        <!-- Legais e tribuários -->
        <mat-expansion-panel class="mat-expansion" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <mat-panel-title>Legais e tributários</mat-panel-title>
          </mat-expansion-panel-header>

          <div class="legal-container w-100">

            <mat-form-field>
              <mat-label>Regime tributário</mat-label>
              <mat-select formControlName="feeType">
                @for (regimeTributario of regimeTributario; track regimeTributario) {
                  <mat-option [value]="regimeTributario.codigo">{{regimeTributario.label}}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Natureza Jurídica</mat-label>
              <mat-select formControlName="legalNature">
                @for (legalNature of legalNatures; track legalNature) {
                  <mat-option [value]="legalNature.codigo">{{legalNature.descricao}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

        </mat-expansion-panel>

        <!-- CNPJ -->
        <mat-expansion-panel class="mat-expansion" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <mat-panel-title>Busca por CNPJs</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="cnpj-container w-100">

              <mat-form-field class="example-full-width">
                <mat-label>CNPJ</mat-label>
                <input matInput
                formControlName="cnpj"
                mask="00.000.000/0000-00"
                pattern="([0-9]{2}[\.]?[0-9]{3}[\.]?[0-9]{3}[\/]?[0-9]{4}[-]?[0-9]{2})|([0-9]{3}[\.]?[0-9]{3}[\.]?[0-9]{3}[-]?[0-9]{2})">
              </mat-form-field>

          </div>
        </mat-expansion-panel>

      </form>
      <div class="button-container">
        <button class="w-100 btn-filter" (click)="search()">Buscar empresas <mat-icon class="mat-18">search</mat-icon></button>
        <div class="spacer w-100 mt-2 mb-2"></div>
      </div>
    </mat-accordion>

  </div>
</main>

