@import '../../../../styles/main.scss';

.container-sides{
  display: flex;
  width: 100%;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;

  .filter-section{
    height: 100%;
    @media (max-width: 480px) {
      padding: 0;
      margin: 0;
      height: auto;
    }
  }

  .main-component{
    padding: 0;
    margin: 0;
    height: 100%;
  }

}

.spacer{
  margin-top: 1rem;
}
