@import './../../../../../styles/main.scss';

mat-toolbar{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 background-color: $ficus-light-gray;
  height: 4rem;

  .title-header{
    font-size: 18px;
    font-weight: 550;
    @media (max-width:480px) {
      font-size: 16px;
    }
  }

  ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: end;
    gap: 1rem;
    padding: 0 0.5rem;
    width: 100%;
    margin: 0;
    height: 100%;
    list-style: none;
    li{
      cursor: pointer;
    }
  }
}

.menu-side{
  z-index: 2;
  position: absolute;
  width: 14rem;
  background-color: $ficus-light-gray;
  @media (max-width: 480px) {
    width: 100vw;
  }

  mat-icon{
    color: $ficus-black;
  }

  ul{
    padding-top: 32px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
      li{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        width: 80%;
        padding: 6px;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover{
          // background-color: rgba(28,28,99, 0.2);
          border-bottom: 1px solid $ficus-black;
        }
        &:active{
          border-bottom: 1px solid $ficus-black;
        }
        a{
          color: $ficus-black;
          font-weight: 550;
          text-decoration: none;
      }
    }
  }
}