<main>
    <div class="container-login row w-100 mt-5 mb-5">
      <section class="col-xl-4 col-md-4 col-sm-12 col-12 mb-3 mt-5 section-form">
  
      <mat-card class="login-card" appearance="outlined">
           <form action="form" [formGroup]="form">
  
              <h6 class="mt-3 mb-4">Insira os seus dados</h6>
  
                  <mat-form-field class="col-12 w-100" appearance="outline">
                      <mat-label>Seu nome ou nome da empresa</mat-label>
                      <input matInput formControlName="company">
                  </mat-form-field>

                  <mat-form-field class="col-12 w-100" appearance="outline">
                    <mat-label>Login</mat-label>
                    <input matInput formControlName="login">
                </mat-form-field>

                  <mat-form-field class="col-12 w-100" appearance="outline">
                    <mat-label>CNPJ</mat-label>
                    <input matInput formControlName="document" mask="000.000.000-00||00.000.000/0000-00">
                </mat-form-field>

                  <mat-form-field class="col-12 w-100" appearance="outline">
                      <mat-label>Email</mat-label>
                      <input type="email" matInput formControlName="email">
                  </mat-form-field>

                  <mat-form-field class="col-12 w-100" appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput formControlName="password">
                </mat-form-field>
  
          </form>
          <div class="col-xl-5 col-md-12 col-10 p-1 w-100 btn-container">
            <button type="button" (click)="createAccount()" class="w-100 btn-confirm">Registrar</button>
        </div>
  
  
          <div class="w-100"></div>
          <hr>
          <p>Já tem cadastro?</p>
          <div class="col-xl-5 col-md-12 col-10 p-1 w-100 btn-container">
              <button (click)="goTo('login')" type="button" class="w-100 btn-account">Entrar</button>
          </div>
  
      </mat-card>
  
      </section>
  
      <section class="col-xl-7 col-md-7 col-sm-12 col-12 mb-3 mt-5 info-create-account">
        <mat-card class="col-xl-12 col-md-12 col-xl-12 col-12 info-card-container">

        </mat-card>
  
        <div class="col-xl-12 col-md-12 col-xl-12 col-12 info-text-container">
          <h2></h2>
        </div>
  
      </section>
    </div>
  </main>