<main class="w-100">
    <div class="container-dashboard w-100">

        <div class="row p-2 container-sides">

            <div class="side-r">
                <section class="info-cards-group row">
                    <mat-card class="card col-lg-2 col-md-3 col-sm-6 col-12">
                        <span class="f-550 active">22.672.697</span>
                        <p class="f-500">Empresas ativas</p>
                    </mat-card>
                    <mat-card class="card col-lg-2 col-md-3 col-sm-6  col-12">
                        <span class="f-550 inactive">31.328.120</span>
                        <p class="f-500">Empresas inativas</p>
                    </mat-card>
                    <mat-card class="card col-lg-2 col-md-3 col-sm-6  col-12">
                        <span class="f-550">50-100</span>
                        <p class="f-500">Funcionários</p>
                    </mat-card>
                    <mat-card class="card col-lg-2 col-md-5 col-sm-6  col-12">
                        <span class="f-550">R$10.000.000,00</span>
                        <p class="f-500">Faturamento anual</p>
                    </mat-card>
                    <mat-card class="card col-lg-2 col-md-5 col-sm-6  col-12">
                        <span class="f-550">8</span>
                        <p class="f-500">Idade média empresas ativas</p>
                    </mat-card>
                </section>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 graphic-container">
                    <div class="graph-header">
                        <h5>Empresas Abertas e Fechadas</h5>
                    </div>
                    <canvasjs-chart [options]="chartOptions" [styles]="{width: '95%', height:'260px'}"></canvasjs-chart>
                </div>
            </div>
        </div>
    </div>
</main>