<main>
  <div class="w-100 header-btn-container mb-3">
    <button (click)="onClose()"><mat-icon class="material-symbols-outlined">close</mat-icon></button>
  </div>
  <section class="container-modal w-100">
    <div class="row w-100 organizer-flex-div">
      <div class="company-header col-12 mb-3">
        <div class="img">

        </div>
        <div class="text">
          <span class="f-550">CNPJ: <br> {{data?.cnpj}} - <button class="subsidiary-btn" mat-flat-button>Matriz</button></span>
          <h4>{{data?.nome}}</h4>
        </div>


      </div>

      <div class="additional-info-grid col-12">
          <div class="grid-info-card">
            <mat-icon class="mat-18">corporate_fare</mat-icon>
            <span class="f-550">Porte</span>
            {{data?.porte}}
          </div>

          <div class="grid-info-card">
            <mat-icon class="mat-18">groups</mat-icon>
           <span class="f-550">N. De Funcionários</span>
          </div>

          <div class="grid-info-card">
            <mat-icon class="mat-18">attach_money</mat-icon>
            <span class="f-550">Faturamento</span>
          </div>

          <div class="grid-info-card">
            <mat-icon class="mat-18">bolt</mat-icon>
            <span class="f-550">Nível de atividade</span>
          </div>
          <div class="grid-info-card">
            <mat-icon class="mat-18">flag_2</mat-icon>
            <span class="f-550">Fundação</span>
          </div>
          <div class="grid-info-card">
            <mat-icon class="mat-18">savings</mat-icon>
            <span class="f-550">Capital social</span>
          </div>
      </div>

      <div class="company-data col-12">
        <mat-accordion displayMode="default" [multi]="true" [hideToggle]="false">
            <mat-expansion-panel [hideToggle]="false">
                <mat-expansion-panel-header><mat-icon class="material-symbols-outlined">map</mat-icon> Localização</mat-expansion-panel-header>
                body panel
            </mat-expansion-panel>
            <mat-expansion-panel [hideToggle]="false">
                <mat-expansion-panel-header><mat-icon class="material-symbols-outlined">mail</mat-icon>E-mails e Pessoas</mat-expansion-panel-header>
                 Panel body
            </mat-expansion-panel>
            <mat-expansion-panel [hideToggle]="false">
                <mat-expansion-panel-header><mat-icon class="material-symbols-outlined">call</mat-icon> telefone(s)</mat-expansion-panel-header>
                {{data?.telefone}}
            </mat-expansion-panel>
            <mat-expansion-panel [hideToggle]="false">
                <mat-expansion-panel-header><mat-icon class="material-symbols-outlined">language</mat-icon> Websites e redes sociais</mat-expansion-panel-header>
                 Panel body
            </mat-expansion-panel>
            <mat-expansion-panel [hideToggle]="false">
                <mat-expansion-panel-header><mat-icon class="material-symbols-outlined">map</mat-icon> Endereços secundários</mat-expansion-panel-header>
                 Panel body
            </mat-expansion-panel>
            <mat-expansion-panel [hideToggle]="false">
                <mat-expansion-panel-header><mat-icon class="material-symbols-outlined">account_tree</mat-icon> Tecnologia e Ferramentas</mat-expansion-panel-header>
                 Panel body
            </mat-expansion-panel>
            <mat-expansion-panel [hideToggle]="false">
                <mat-expansion-panel-header><mat-icon class="material-symbols-outlined">stacked_bar_chart</mat-icon> Dados da receita</mat-expansion-panel-header>
                 Panel body
            </mat-expansion-panel>
            <mat-expansion-panel [hideToggle]="false">
                <mat-expansion-panel-header><mat-icon class="material-symbols-outlined">apartment</mat-icon> Matriz e filiais</mat-expansion-panel-header>
                 Panel body
            </mat-expansion-panel>
            <mat-expansion-panel [hideToggle]="false">
                <mat-expansion-panel-header><mat-icon class="material-symbols-outlined">format_list_numbered</mat-icon> NCM Principal</mat-expansion-panel-header>
                 Panel body
            </mat-expansion-panel>
            <mat-expansion-panel [hideToggle]="false">
                <mat-expansion-panel-header><mat-icon class="material-symbols-outlined">public</mat-icon> Comércio exterior</mat-expansion-panel-header>
                 Panel body
            </mat-expansion-panel>
            <mat-expansion-panel [hideToggle]="false">
                <mat-expansion-panel-header><mat-icon class="material-symbols-outlined">history</mat-icon> Histórico e ações</mat-expansion-panel-header>
                 Panel body
            </mat-expansion-panel>


        </mat-accordion>
      </div>
    </div>
  </section>
</main>
