<main>

<section class="solutions-cards-section">

  <!-- <img src="../../../../assets/images/digital-marketing-1433427_1280.png" alt="bg"> -->

  <div class="title w-100">
    <h2>Por que escolher a Ficus Lead Hunter?</h2>
    <h6>Alavanque seus resultados comerciais com a melhor plataforma de busca por leads B2B</h6>
  </div>

  <mat-card class="solutions-cards">
      <mat-card-header>
          <mat-card-title>Use contatos validados</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img matCardImage src="Card wide image source">
      <mat-card-content>
        Seus argumentos comerciais terão outro rumo com a busca de leads disponibilizados pela Ficus Lead hunter.
      </mat-card-content>
      <mat-card-actions>
          <button mat-button></button>

      </mat-card-actions>
      <mat-card-footer>

      </mat-card-footer>
  </mat-card>
  <mat-card class="solutions-cards">
      <mat-card-header>
          <mat-card-title>Tenha dados precisos</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img matCardImage src="Card wide image source">
      <mat-card-content>
        A decisão final é, na maioria das vezes, de quem tem o maior nível hierárquico. Então pare de perder tempo e fale com as pessoas certas de cada empresa. Conte conosco para encontrar o ouro no fim do arco-íris.
      </mat-card-content>
      <mat-card-actions>
          <button mat-button></button>

      </mat-card-actions>
      <mat-card-footer>

      </mat-card-footer>
  </mat-card>

</section>


</main>
