@import './../../../../styles/main.scss';

main{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border-radius: 8px;
  padding: 2rem;
  min-height: 20rem;
  height: 100%;
  width: 20rem;
  text-align: center;

  .button-container{
    display: flex;
    align-items: flex-end;
  }

  mat-icon{
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
  }
}