@import './../../../../styles/main.scss';

main{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border-radius: 8px;
  padding: 1rem;
  height: 20rem;
  width: 20rem;
  text-align: center;

  .button-container{
    display: flex;
    align-items: flex-end;
  }
}