<main>
    <mat-toolbar class=" w-100 mt-5">
        <button mat-icon-button class="menu-open-toggle-btn" aria-label="Example icon-button with menu icon"
        (click)="toggle()">
        <mat-icon>{{ hidden ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
        <span class="title-header">Dashboard | Calculadora de mercado</span>
        <span class="example-spacer"></span>
        <ul>
            <li>
                <mat-icon
                class="material-symbols-outlined"
                matTooltip="Minha conta">
                    account_circle
                </mat-icon>
            </li>
        </ul>
      </mat-toolbar>
</main>

<section *ngIf="hidden" class="menu-side">
    <span class="side-nav-section-title">Geral</span>
    <ul>
      <li (click)="goTo('dashboard')">
        <!-- <mat-icon>home</mat-icon> -->
        <a>Dashboard</a>
      </li>
      <li (click)="goTo('about')">
        <!-- <mat-icon>local_library</mat-icon> -->
        <a> Soluções</a>
      </li>
      <li>
        <!-- <mat-icon>local_library</mat-icon> -->
        <a> Planos</a>
      </li>
      <li>
        <!-- <mat-icon>local_library</mat-icon> -->
        <a> Sobre</a>
      </li>
    </ul>
  </section>