<main>
  <div class="side-l">

    <div class="filters-header">
      <div class="title-section w-100">
        <h5 class="title">Filtros</h5>
        <mat-icon class="material-symbols-outlined">
          filter_alt
        </mat-icon>
      </div>

      <div class="button-container w-100">
        <button class=" btn-clear mb-3" (click)="clearFilters()">Limpar Filtros</button>
      </div>
    </div>

    <mat-accordion class="accordion">
      <form [formGroup]="form">

        <!-- Setor -->
        <mat-expansion-panel [expanded]="true" class="mat-expansion" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <mat-panel-title>Setor</mat-panel-title>
          </mat-expansion-panel-header>

          <div class="input-structure">
            <label for="cnae" class="f-550">CNAE (Cadastro Nacional de Atividade Econômica)</label>
            <input pInputText
              id="cnae"
              type="text"
              formControlName="cnae" />
          </div>

        </mat-expansion-panel>

        <!-- Regiao -->
        <mat-expansion-panel class="mat-expansion" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <mat-panel-title>Região</mat-panel-title>
          </mat-expansion-panel-header>

          <div class="region-content drop-structure">

              <mat-form-field>
                <mat-label>Estados</mat-label>
                <mat-select multiple>
                  @for (state of states; track state) {
                    <mat-option [value]="state">{{state.name}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>


              <mat-form-field>
                <mat-label>Cidades</mat-label>
                <mat-select multiple>
                  @for (city of cities; track city) {
                    <mat-option [value]="city">{{city.name}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Bairros</mat-label>
                <mat-select multiple>
                  @for (neighbourhood of neighbourhoods; track neighbourhood) {
                    <mat-option [value]="neighbourhood">{{neighbourhood.name}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <div class="cep w-100">
                <p class="ms-2 f-550">Endereço e CEP</p>
                <mat-form-field>
                  <mat-label>Logradouro</mat-label>
                  <input matInput>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Numero</mat-label>
                  <input matInput>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>CEP</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>

          </div>

        </mat-expansion-panel>

        <!-- Porte -->
        <mat-expansion-panel class="mat-expansion" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>

            <mat-panel-title>Porte</mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-expansion" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <mat-panel-title>Telefone</mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-expansion" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <mat-panel-title>E-mails</mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-expansion" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <mat-panel-title>Cadastrais</mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-expansion" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <mat-panel-title>Legais e tributários</mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-expansion" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <mat-panel-title>Busca por CNPJs</mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>

      </form>
      <div class="button-container">
        <button class="w-100 btn-filter" (click)="search()">Buscar empresas <mat-icon class="mat-18">search</mat-icon></button>
        <div class="spacer w-100 mt-2 mb-2"></div>
      </div>
    </mat-accordion>

  </div>
</main>

<!-- <app-company-search [hidden]="true" [searchTableData]="doSearch"></app-company-search> -->
