@import '../../../../../styles/main.scss';

main{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (max-width: 480px) {
    margin-top: 1rem;
  }

  .filter-section{
    @media (max-width: 480px) {
      display: flex;
      padding-right: 0;
      align-items: center;
      justify-content: center;
      margin-left: .3rem;
    }
  }

  .table-section{

    @media (max-width: 480px) {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      width: 100%;
      padding-right: 0;
      margin-left: .3rem;
    }

    .table-header{
      display: flex;
      margin-bottom: .5rem;
      padding-top: 1.5rem;
      .button-container{
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: space-between;
        width: 100%;
      }


    }

    .table-container{
      @media (max-width: 780px) {
        overflow-x: scroll;
        overflow-y: hidden;
      }
      margin-bottom: 1rem;
      padding-bottom: 2rem;
        table{
          width: 100%;
          margin-bottom: 3rem;
          overflow-x: scroll;
          overflow-y: hidden;
        }

      .details-td{
        text-align: center;
      }
      .details{
        cursor: pointer;
        text-align: center;
      }
      .call{
        mat-icon{
          font-size: 12px;
        }
      }
    }
  }

}


.mat-mdc-paginator-container {
  @media (max-width: 480px) {
    justify-content: flex-start !important;
  }
}

.mat-mdc-header-cell{
  width: 20%;
  background-color: $ficus-light-gray;
}

.mat-mdc-row{
  padding: 1rem 0 !important;
  &:nth-child(even){
    background-color: $ficus-light-gray;
  }
  &:hover{
    background-color: $ficus-yellow;
    color: $ficus-black;
    cursor: pointer;
  }
}

.mat-mdc-cell{
  padding: 1rem !important;

  &:nth-child(1){
    width: 10% !important;
  }
}

.spinner-container {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.7); */
  z-index: 5;
}
