
  <main>
    <div class="row w-100">
      <section class="filter-section"
      [ngClass]="!showTable() ? 'col-xl-6 col-md-8 col-sm-12 col-12' : 'col-xl-3 col-md-4 col-sm-12 col-12'"
      >
        <app-filter-section
         (tableDataEvent)="recieveTableData($event)"
        (selectedSectorValue)="filteredSelectedSectorEvent($event)"
        (selectedCnaePrimarioValue)="filteredSelectedCnaePrimaEvent($event)"
        (selectedCnaeSecundarioValue)="filteredSelectedCnaeSecundEvent($event)"
        (selectedNcmValue)="filteredSelectedNcmEvent($event)"
         ></app-filter-section>
      </section>
      <section
      class="table-section"
      [ngClass]="!showTable() ? 'col-xl-6 col-md-4 col-sm-12 col-12' : 'col-xl-9 col-md-8 col-sm-12 col-12'"
      >
        @if(dashboardService.isLoading()){
          <div class="spinner-container w-100">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          <p class="f-550 text-spinner">Buscando...</p>
          </div>
        }
        <div class="w-100 m-0"
          [ngClass]="!showTable() ? 'no-data-side-display' : ''">
          <div class="w-100">
            <mat-chip-set aria-label="Fish selection">
            @for (sector of selectedSector; track sector) {
              <mat-chip>{{sector}}</mat-chip>
            }
            @for (cnaePrima of selectedCnaePrima; track cnaePrima) {
              <mat-chip>{{cnaePrima}}</mat-chip>
            }
            @for (cnaeSecund of selectedCnaeSecund; track cnaeSecund) {
              <mat-chip>{{cnaeSecund}}</mat-chip>
            }
            @for (ncm of selectedNcm; track ncm) {
              <mat-chip>{{ncm}}</mat-chip>
            }
            </mat-chip-set>
          </div>
          <div [hidden]="showTable()" class="w-100 mt-4 no-data">
            <h4>Faça uma busca</h4>
            <p>...</p>
            <mat-icon class="material-symbols-outlined">
              search
              </mat-icon>
          </div>
        </div>

        <div [hidden]="!showTable()" class="table-header w-100">

          <div class="button-container">
            <button
            mat-button
            [disabled]="!isExcelBtnActive"
            [matTooltip]="'Exportar Excel ou CSV'"
            class="btn-excel"
            (click)="exportToExcel()">
              <mat-icon>upload_file</mat-icon>
              Exportar planilha
            </button>
            <button class=" btn-clear mb-3" (click)="clearTable()">Limpar Busca</button>
          </div>

        </div>
        <div [hidden]="!showTable()" class="mat-elevation-z8 w-100 table-container">
          <table mat-table [dataSource]="dataSource" id="tableId">

            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? toggleAllRows() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                  [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)"
                  [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="cnpjName">
              <th mat-header-cell *matHeaderCellDef>CNPJ e Nome</th>
              <td mat-cell *matCellDef="let element" class="w-30 name-document-td">
                <span>{{element.cnpj | cnpj}}</span>
                <br>
                <span class="f-550">{{element.nome}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="contact">
              <th mat-header-cell *matHeaderCellDef> Contato </th>
              <td mat-cell *matCellDef="let element" class="call">
                <span class="span-td-icon-structure"><mat-icon class="mat-18">mail</mat-icon> {{element.correio_eletronico || ' - '}}</span>
                <br>
                <span class="span-td-icon-structure"><mat-icon class="mat-18">call</mat-icon>  ({{element.DDD_Telefone}}) {{element.telefone}}</span></td>
            </ng-container>

            <ng-container matColumnDef="regime">
              <th mat-header-cell *matHeaderCellDef> Regime </th>
              <td mat-cell *matCellDef="let element"> {{element.regime}} </td>
            </ng-container>

            <ng-container matColumnDef="cnae">
              <th mat-header-cell *matHeaderCellDef> CNAE </th>
              <td mat-cell *matCellDef="let element"> {{element.cnaePrincipal}} </td>
            </ng-container>


            <ng-container matColumnDef="companySize">
              <th mat-header-cell *matHeaderCellDef> Porte </th>
              <td mat-cell *matCellDef="let element">{{element.porte}} </td>
            </ng-container>


            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef> Endereço </th>
              <td mat-cell *matCellDef="let element">{{element.tipoLogradouro}} {{element.logradouro}}, {{element.numero}}. {{element.bairro}}, {{element.UF}}. - {{element.CEP}} </td>
            </ng-container>

            <ng-container matColumnDef="socio">
              <th mat-header-cell *matHeaderCellDef>Sócio(s)</th>
              <td mat-cell *matCellDef="let element" class="details-td">
                {{element?.socio}}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDetailsModal(row)"></tr>

          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
      </section>
    </div>
  </main>
