<main>
  <div class="container-login row w-100 m-0">
    <section class="col-xl-6 col-md-12 col-sm-12 col-12 mb-3 mt-3 section-form">

    <mat-card class="login-card" appearance="outlined">
         <form action="form">

            <h6 class="mt-3 mb-4">Digite seus dados de acesso</h6>

                <mat-form-field class="col-12 w-100" appearance="outline">
                    <mat-label>Usuário</mat-label>
                    <input matInput formControlName="user">
                </mat-form-field>

                <mat-form-field class="col-12 w-100" appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput formControlName="password">
                </mat-form-field>

        </form>

        <div class="col-xl-5 col-md-12 col-10 p-1 w-100 btn-container">
            <button type="button" class="w-100 btn-confirm">Confirmar</button>
        </div>

        <div class="w-100"></div>
        <br><hr>
        <p>Ainda não tem cadastro?</p>
        <div class="col-xl-5 col-md-12 col-10 p-1 w-100 btn-container">
            <button type="button" class="w-100 btn-account">Criar conta</button>
        </div>
        <!-- <div class="col-xl-12 col-md-12 col-sm-12 col-12 w-100 link-list">
            <ul>
                <li>
                    <a>Esqueci minha senha</a>
                </li>
                <li>
                    <a>Criar conta</a>
                </li>
            </ul>
        </div> -->

    </mat-card>

    <!-- </section>

    <section class="col-xl-6 col-md-10 col-sm-12 col-12 mb-3 mt-3 text-login"> -->
        
    </section>
  </div>
</main>