/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import './styles/main.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-expansion-panel-body {
    padding: 0 !important;
}

.mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
    cursor: pointer;
  }

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: none !important;
  }

  .mdc-text-field--filled{
    background-color: none !important;
  }

  .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background{
    border-color: $aleixo-dark-blue !important;
    background-color: $aleixo-dark-blue !important;
  }

  .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background{
    border-color: $aleixo-dark-blue !important;
    background-color: $aleixo-dark-blue !important;
  }

  html .mat-accent {
    --mdc-circular-progress-active-indicator-color: $aleixo-dark-blue !important;
}

::-webkit-scrollbar {
  width: 4px;
  height: 5px;
  overflow-y: scroll;
  background: $ficus-yellow;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: $aleixo-dark-blue;
  border-radius: 10px;
}

.mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay{
  opacity: 0 !important;
}

mat-label{
  color: $ficus-black;
  font-weight: 550;
}

.assigned-chip {
  color: $ficus-black !important;
  font-weight: 550;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label {
  color: $ficus-black !important;
  font-weight: 550;
}

.mat-mdc-paginator-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 0 8px;
  flex-wrap: wrap;
  width: 100%;
  min-height: var(--mat-paginator-container-size);
}

.mat-mdc-select {
  display: inline-block;
  width: 100%;
  outline: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--mat-select-enabled-trigger-text-color);
  font-family: var(--mat-select-trigger-text-font);
  line-height: var(--mat-select-trigger-text-line-height);
  font-size: var(--mat-select-trigger-text-size);
  font-weight: var(--mat-select-trigger-text-weight);
  letter-spacing: var(--mat-select-trigger-text-tracking);
}

.mdc-notched-outline {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 100%;
  text-align: left;
  pointer-events: none;
}

.mat-mdc-text-field-wrapper {
  min-width: 100% !important;
  width: 100%;
}
