/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import './styles/main.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-expansion-panel-body {
    padding: 0 !important;
}

.mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
    cursor: pointer;
  }
  
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
  }
  
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: none !important;
  }
  
  .mdc-text-field--filled{
    background-color: none !important;
  }

  .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background{
    border-color: $aleixo-dark-blue !important;
    background-color: $aleixo-dark-blue !important;
  }

  .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background{
    border-color: $aleixo-dark-blue !important;
    background-color: $aleixo-dark-blue !important;
  }