@import './../../../../../styles/main.scss';


.first-footer-row-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  @media (max-width: 780px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

footer{
  min-height: 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: left;
  text-align: left;
  padding: 2rem 1rem;
  background-color: $ficus-yellow;


    @media (max-width: 780px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .address-container {
      display: flex;
      padding-left: 0.5rem;
      gap: 2%;
        :nth-child(1) {
          font-weight: 600;
          max-width: 20%;
        }

      .address-text{
        width: 100%;
        word-wrap: wrap;
        // text-align: justify;
        @media (max-width: 480px){
          margin-top: 1rem;
        }
      }
    }

  ul{
    padding: .5rem;
    li{
      margin: .5rem;
      list-style: none;
      cursor: pointer;
      font-weight: 560;
      color: $ficus-black;
    }
  }

  .links-menu{
    display: flex;
    justify-content: space-evenly;
    text-align: left !important;
    margin: 0 !important;

    @media (max-width: 480px) {
      text-align: center !important;
      justify-content: center;
        align-items: center;
    }
  }

  .social-section{
    display: flex;
    justify-content: center;
    align-items: center;

    .logo{
      width: 2rem;
    }

    .social{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2.5rem;

      @media (max-width: 480px) {
        gap: 2rem;
      }
    }

    @media (max-width: 780px) {
      justify-content: center;
      align-items: center;
      text-align: center;
      
    }
  }
    p{
      display: flex;
      align-items: flex-end;
      justify-content: center;
      gap: 2px;
      text-align: center;
      margin: 1rem;
      font-size: 1rem;
      color: $ficus-black;
      font-weight: 560;

      @media (max-width:780px) {
        
          text-align: center;
          justify-content: center;
          align-items: center;
        
      }
    }


}